<div class="task-manager-index">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-laptop text-primary mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M13.5 3h-11a.5.5 0 0 0-.5.5V11h12V3.5a.5.5 0 0 0-.5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11z"/>
          <path d="M0 12h16v.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5V12z"/>
        </svg>
        <span class="font-weight-bold">Administrador de tareas</span>
	<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill text-danger mt-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
	</svg>         
      </div>
    </div>

    <div class="card-body">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Procesos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Rendimiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Historial de aplicaciónes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Detalles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Servicios</a>
        </li>
      </ul>

      <div class="process-table border border-top-0 pt-3 px-4">
	<table class="table table-borderless table-hover m-0">
	  <thead class="border-bottom">
	    <tr>
	      <th scope="col">PID</th>
	      <th scope="col">Usuario</th>
	      <th scope="col">Estado</th>
	      <th scope="col">Nombre</th>
	      <th scope="col" class="text-center">% CPU</th>
	      <th scope="col" class="text-center">% Memoria</th>
	      <th scope="col" class="text-center">VIRT</th>
	      <th scope="col" class="text-center">RES</th>
	      <th scope="col" class="text-center">SHR</th>
	    </tr>
	  </thead>
	  <tbody>
            <% @tasks.each do |task| %>
              <tr>
                <th scope="row"><%= task[:process_id ] %></th>
                <td><%= task[:user] %></td>
                <td><%= task[:state] %></td>
                <td><%= task[:command] %></td>
                <td class="text-center"><%= task[:cpu_percentage] %>%</td>
                <td class="text-center"><%= task[:memory_percentage] %>%</td>
                <td class="text-center"><%= number_to_human_size(task[:virtual_size]) %></td>
                <td class="text-center"><%= number_to_human_size(task[:resident_size]) %></td>
                <td class="text-center"><%= number_to_human_size(task[:shareable_size]) %></td>
                <td class="text-right">
                  <div class="actions">
                    <%= link_to "Terminar", task_manager_path(task[:process_id]), method: :delete, class: "btn btn-sm btn-outline-danger" %>
                  </div>
                </td>
              </tr>
            <% end %>
	  </tbody>
	</table> 
      </div>
    </div>
  </div>
</div>
